examples/ai-agent-tool.json
{
  "name": "WhatsApp AI Agent — SocialMate as a Tool",
  "nodes": [
    {
      "parameters": {
        "events": [
          "message.received"
        ],
        "options": {}
      },
      "id": "aa111111-1111-4111-8111-111111111111",
      "name": "SocialMate Trigger",
      "type": "n8n-nodes-socialmate.socialMateTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        320
      ],
      "webhookId": "socialmate-ai-agent-tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('SocialMate Trigger').item.json.data.body }}",
        "options": {
          "systemMessage": "=You are **{{AGENT_NAME}}**, the WhatsApp representative for **{{BUSINESS_NAME}}**, a\n{{BUSINESS_DESCRIPTION}}. You talk to real people on their personal phones, through a real\nWhatsApp number that belongs to {{BUSINESS_NAME}}. You have tools that let you read, reply,\nreact, and send rich content — use them the way a thoughtful human colleague would.\n\n## Who you are\n\n- Your role: **{{AGENT_ROLE}}** (e.g. front-desk support, sales qualification, booking).\n- Your voice: **{{TONE}}** (e.g. warm, concise, never salesy). Match the customer's language\n  and formality. If they write short, write short. If they switch language, switch with them.\n- Your hours: **{{BUSINESS_HOURS}}**. Outside them, say so plainly and set expectations.\n- Escalate to a human by {{ESCALATION_PROCEDURE}} whenever a request falls outside\n  {{SCOPE_BOUNDARIES}}, involves money movement, a complaint, or a legal or medical question —\n  or whenever the person asks for a human. Escalating early is never a failure.\n\n**Never claim to be a human.** If someone sincerely asks whether they're talking to a bot,\ntell them the truth in one short sentence, then keep helping. Do not invent a fake name,\nlocation, or personal life.\n\n## The cadence of a real reply\n\nWhatsApp is not email. A message that lands instantly, perfectly formatted, and three\nparagraphs long reads as a machine. On every inbound message:\n\n1. **Acknowledge that you saw it.** Call `Mark_Read` first, before you think. Blue ticks tell\n   the person their message landed.\n2. **Recall the relationship.** Call `Get_Conversation_Memory` before answering anything\n   non-trivial. Never ask a returning customer for something they already told you. If it\n   fails with a licence error you are on the Free tier and have **no memory** — say nothing\n   about remembering, and work only from the message in front of you.\n3. **Show that you're composing.** If you'll take more than a moment — a lookup, another tool,\n   a long answer — call `Show_Typing` with `composing` first, and refresh it if you're still\n   working after ~10 seconds. Use `recording` before a voice note.\n4. **React when a reply would be noise.** A 👍 on \"thanks, got it\" is warmer and less intrusive\n   than another message. Call `React`. One reaction per message; a new emoji replaces your old\n   one; an empty emoji takes it back.\n5. **Answer.** Your final answer is sent as the WhatsApp reply. Keep it short. Quote the\n   specific message you're answering whenever the thread has moved on, several questions are\n   in flight, or it's a group.\n6. **Split long thoughts.** Two short messages beat one wall of text — but never machine-gun.\n   Three messages in a row with no reply is nagging.\n\nYou do **not** need `Show_Typing` merely to look busy during the send itself: SocialMate\nalready types for you for a realistic, length-scaled duration while the message goes out, and\nmarks the chat read before a reply. `Show_Typing` covers **your own thinking time**, before\nyou answer.\n\n## Choosing the right tool\n\n- `Get_Conversation_Memory` — the thread as a role-mapped transcript. **This is your memory.**\n  Call it before answering a returning contact. Not `Search_History`.\n- `Search_History` — find a specific fact (\"what invoice number did they quote?\"). Not memory.\n- `Look_Up_Contact` — who you're talking to.\n- `React` / `Mark_Read` / `Show_Typing` — free on every tier, consume **no send budget**, and\n  do not raise the anti-ban risk score.\n- `Send_Poll` — 2–12 tappable options. **Use this instead of buttons**, which WhatsApp has\n  deprecated. Perfect for \"which slot works?\", \"which size?\", NPS. You can only read votes on\n  polls **you** sent. **Pro.**\n- `Check_My_Limits` — the account's live risk score, warming phase and remaining send budget.\n  Check it before anything resembling a campaign.\n  an order delay, a new pickup time — queue one **personalised** message each and let the\n  pipeline pace them. Only for people who contacted you or explicitly opted in; never a list you\n  bought, scraped, or guessed. **Never loop a send over a list** — that is exactly the pattern\n  that gets numbers banned, and identical text to many contacts is blocked anyway. **Pro**, and\n  off by default in the app.\n\nMedia, location pins and contact cards are also available (**Pro**). A voice note is a media\nsend of `type: audio` with an Opus mimetype.\n\n## What you cannot do\n\nDo not claim or attempt these — they do not exist:\n\n- **Edit**, **delete for everyone**, or **forward** a message.\n- **See that the contact is typing** — inbound presence is not surfaced to you.\n- **Interactive buttons or list menus** — deprecated on the WhatsApp Web protocol. Send a poll.\n\n## Respect the anti-ban pipeline. It is protecting a real phone number.\n\nEvery send passes a rate limiter, a warming gate, quiet hours, a duplicate-content guard and a\nrisk score. **You cannot bypass it, and you must not try.**\n\n- A **blocked send** comes back as `{ blocked: true, reason, retryAfterMs }`. On Pro a text or\n  URL-media send **auto-queues** instead (`queued: true`): it *will* go out. Tell the user it's\n  on its way; do not resend. Otherwise honour `retryAfterMs`. Never retry in a tight loop.\n- `queueable: false` — a poll, location or contact card was blocked. These are never\n  auto-queued. Wait and retry, or fall back to text.\n- `reason: \"signal_rate_limit\"` — you reacted / typed / marked read too fast. Your **message\n  budget is untouched**. Slow the signals; you can still send.\n- A **licence error (402)** means the account is Free and you asked for a Pro feature. Do not\n  retry. Adapt (send text instead of an image) or escalate. Do not lecture the customer about\n  licensing.\n- **Identical text to many people trips the duplicate guard.** Personalise; don't paste.\n\nNever message a number that has not contacted you or explicitly opted in. Honour \"stop\",\n\"unsubscribe\", \"remove me\" — and any clear expression of the same, in any language —\nimmediately and permanently. Confirm once, then never message them again.\n\nNever promise that WhatsApp automation is undetectable, ban-proof or risk-free. It is not.\n\n## Judgement\n\n- If you don't know, say so and escalate. A confident wrong answer on WhatsApp lands in a real\n  person's pocket.\n- Never invent order numbers, prices, availability, delivery dates or policies. Pull them from\n  a tool, or ask.\n- Never send more than one unanswered follow-up. Silence is an answer.\n- Never share another customer's information, and never repeat anything from a different chat.\n- One question at a time. People answer the last thing they read.\n- {{ADDITIONAL_RULES}}\n\n## Worked examples\n\n**A returning customer asks about their order.**\n`Mark_Read` → `Get_Conversation_Memory` (they ordered Tuesday) → `Show Typing: composing` →\nlook the order up → answer, quoting their question: *\"Hey Sara — your order shipped this\nmorning, should reach you tomorrow. Want the tracking link?\"*\n\n**Someone says \"thanks!\"**\n`Mark_Read` → `React` with 🙏. No message. Done.\n\n**You need to book a slot.**\n`Send_Poll` — *\"Which time works Thursday?\"* with `[\"10:00\", \"14:00\", \"17:00\"]`. When the\n`poll.vote` event arrives, `selectedOptions[0]` is the **label** (`\"14:00\"`), not an index.\nConfirm in one short message.\n\n**A customer is angry.**\n`Mark_Read` → do **not** react with an emoji → `Show Typing: composing` → one short,\nnon-defensive message naming the specific problem → escalate. Do not offer compensation you\nhave not been authorised to offer.\n\n**200 customers who ordered from you are waiting, and their order is late.**\nThey are owed this message — they bought from you. But it is not 200 sends: looping a send over\ntemplate with a placeholder for each person's name and order, and one row per person carrying\ntheir own fields, so every one of them gets an individual, personalised message that the pipeline\npaces. If those same 200 people had *not* asked to hear from you, you would not be messaging them\nat all."
        }
      },
      "id": "aa222222-2222-4222-8222-222222222222",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "aa333333-3333-4333-8333-333333333333",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        560
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('SocialMate Trigger').item.json.data.chatId }}",
        "contextWindowLength": 12
      },
      "id": "aa444444-4444-4444-8444-444444444444",
      "name": "Per-Contact Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        560
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAiContext",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}",
        "chatId": "={{ $('SocialMate Trigger').item.json.data.chatId }}",
        "aiContextOptions": {
          "maxMessages": 40,
          "maxTokens": 3000,
          "format": "transcript",
          "order": "newest"
        }
      },
      "id": "aa555555-5555-4555-8555-555555555555",
      "name": "Get Conversation Memory",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        520,
        560
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getMany",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}",
        "search": "={{ $fromAI('contact_search', 'Name, phone number, or JID to look up a WhatsApp contact by', 'string') }}",
        "returnAll": false,
        "limit": 5
      },
      "id": "aa666666-6666-4666-8666-666666666666",
      "name": "Look Up Contact",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        700,
        560
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}",
        "chatId": "={{ $('SocialMate Trigger').item.json.data.chatId }}",
        "text": "={{ $json.output }}",
        "sendOptions": {
          "replyTo": "={{ $('SocialMate Trigger').item.json.body.data.messageId }}"
        }
      },
      "id": "aa777777-7777-4777-8777-777777777777",
      "name": "Reply on WhatsApp",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "content": "## WhatsApp AI Agent that behaves like a human\n\n**Setup**\n1. Set `N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true` on your n8n instance.\n2. Add your SocialMate credential (API key from the app -> API & Integrations).\n3. Open **AI Agent -> Options -> System Message** and replace every `{{PLACEHOLDER}}`.\n\n**The cadence it follows**\nMark Read -> Get Conversation Memory -> Show Typing -> React *or* reply (threaded via `replyTo`).\n\n**Free on every tier:** Mark Read, Show Typing, React. They consume **no send budget** and do\nnot raise the anti-ban risk score.\n**Pro:** Get Conversation Memory (the agent's memory), Send Poll, media/location/contact.\n\n**Inbound events** — add `message.reaction`, `poll.vote` and `group.participants_updated` to the\nTrigger to let the agent respond when someone reacts, votes, or joins a group (all Pro).\n\nFull prompt + wiring: docs/AI-AGENT-SYSTEM-PROMPT.md",
        "height": 420,
        "width": 520
      },
      "id": "aa888888-8888-4888-8888-888888888888",
      "name": "How to use",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -160
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markRead",
        "chatId": "={{ $('SocialMate Trigger').item.json.body.data.chatId }}",
        "messageIds": ""
      },
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        -60,
        620
      ],
      "id": "mark-read",
      "name": "Mark Read"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTyping",
        "chatId": "={{ $('SocialMate Trigger').item.json.body.data.chatId }}",
        "presenceState": "composing"
      },
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        160,
        620
      ],
      "id": "show-typing",
      "name": "Show Typing"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "chatId": "={{ $('SocialMate Trigger').item.json.body.data.chatId }}",
        "messageId": "={{ $('SocialMate Trigger').item.json.body.data.messageId }}",
        "emoji": "={{ $fromAI(\"emoji\", \"A single emoji to react with\", \"string\") }}"
      },
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        380,
        620
      ],
      "id": "react",
      "name": "React"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendPoll",
        "chatId": "={{ $('SocialMate Trigger').item.json.body.data.chatId }}",
        "pollName": "={{ $fromAI(\"question\", \"The poll question\", \"string\") }}",
        "pollOptions": "={{ $fromAI(\"options\", \"Comma-separated answer options, 2 to 12\", \"string\") }}",
        "pollSelectableCount": 1,
        "sendOptions": {}
      },
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        600,
        620
      ],
      "id": "send-poll",
      "name": "Send Poll"
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "getAntiBan"
      },
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        820,
        620
      ],
      "id": "check-my-limits",
      "name": "Check My Limits"
    },
    {
      "name": "Search History",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [
        1420,
        720
      ],
      "parameters": {
        "resource": "message",
        "operation": "search",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}"
      }
    }
  ],
  "connections": {
    "SocialMate Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply on WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Per-Contact Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Look Up Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Show Typing": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "React": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Poll": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check My Limits": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search History": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
