examples/ai-agent-tool.json
{
  "name": "WhatsApp AI Agent — SocialMate as a Tool",
  "nodes": [
    {
      "parameters": {
        "events": ["message.received"],
        "options": {}
      },
      "id": "aa111111-1111-4111-8111-111111111111",
      "name": "SocialMate Trigger",
      "type": "n8n-nodes-socialmate.socialMateTrigger",
      "typeVersion": 1,
      "position": [-40, 320],
      "webhookId": "socialmate-ai-agent-tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('SocialMate Trigger').item.json.data.body }}",
        "options": {
          "systemMessage": "=You are the WhatsApp assistant for Acme Co., replying to customers on WhatsApp.\n\nYou have SocialMate tools that let you act on WhatsApp:\n- \"Get Conversation Memory\" — call this FIRST on every new message to load the full thread so you don't repeat yourself or re-ask what the customer already told you.\n- \"Look Up Contact\" — use it to find a customer's saved name or number when you need it.\n\nStyle: warm, concise, WhatsApp-appropriate. Never invent order numbers, prices or facts you can't verify — say a human will confirm. Reply in the customer's language. Your final answer is sent back to the customer automatically."
        }
      },
      "id": "aa222222-2222-4222-8222-222222222222",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [320, 320]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "aa333333-3333-4333-8333-333333333333",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [180, 560]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('SocialMate Trigger').item.json.data.chatId }}",
        "contextWindowLength": 12
      },
      "id": "aa444444-4444-4444-8444-444444444444",
      "name": "Per-Contact Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [340, 560]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAiContext",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}",
        "chatId": "={{ $('SocialMate Trigger').item.json.data.chatId }}",
        "aiContextOptions": {
          "maxMessages": 40,
          "maxTokens": 3000,
          "format": "transcript",
          "order": "newest"
        }
      },
      "id": "aa555555-5555-4555-8555-555555555555",
      "name": "Get Conversation Memory",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [520, 560]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getMany",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}",
        "search": "={{ $fromAI('contact_search', 'Name, phone number, or JID to look up a WhatsApp contact by', 'string') }}",
        "returnAll": false,
        "limit": 5
      },
      "id": "aa666666-6666-4666-8666-666666666666",
      "name": "Look Up Contact",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [700, 560]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}",
        "chatId": "={{ $('SocialMate Trigger').item.json.data.chatId }}",
        "text": "={{ $json.output }}",
        "sendOptions": {}
      },
      "id": "aa777777-7777-4777-8777-777777777777",
      "name": "Reply on WhatsApp",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [700, 320]
    },
    {
      "parameters": {
        "content": "## WhatsApp AI Agent — SocialMate as a Tool\n\nThis shows the **AI-Agent-tool** pattern: the agent decides on its own when to call SocialMate operations, instead of you hard-wiring each step.\n\n**Flow:** a customer messages → the **AI Agent** answers, calling SocialMate **tools** on demand (Get Conversation Memory, Look Up Contact) → its answer is sent back with **Reply on WhatsApp**.\n\n### Required\n1. On your n8n instance set the env var **`N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true`** — community nodes can only be used as tools with this on.\n2. One **SocialMate API** credential (Server URL `http://127.0.0.1:3456` if n8n is on the same machine, or your Pro named-tunnel host; admin-scope key). *Get AI Context / history are Pro.*\n3. An **OpenAI** credential on the chat model.\n\n### How the tools work\n- **Get Conversation Memory** = Message → Get AI Context, pinned to the current chat. Gives the agent the whole thread as memory.\n- **Look Up Contact** = Contact → Get Many; its **Search** uses `$fromAI(...)`, so the model fills it in when it needs to look someone up.\n\nActivate, then message the connected number. Send two messages then a follow-up that refers back — it remembers.",
        "height": 420,
        "width": 520
      },
      "id": "aa888888-8888-4888-8888-888888888888",
      "name": "How to use",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -160]
    }
  ],
  "connections": {
    "SocialMate Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Reply on WhatsApp", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Per-Contact Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Get Conversation Memory": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Look Up Contact": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
