examples/real-estate-deepseek-agent.json
{
  "id": "realEstateDeepSeek1",
  "name": "Real Estate — WhatsApp AI Concierge (SocialMate + DeepSeek)",
  "nodes": [
    {
      "parameters": {
        "events": ["message.received"],
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "SocialMate Trigger",
      "type": "n8n-nodes-socialmate.socialMateTrigger",
      "typeVersion": 1,
      "position": [-60, 300],
      "webhookId": "socialmate-realestate-concierge"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAiContext",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}",
        "chatId": "={{ $('SocialMate Trigger').item.json.data.chatId }}",
        "aiContextOptions": {
          "maxMessages": 40,
          "maxTokens": 4000,
          "format": "transcript",
          "beforeTs": "={{ $('SocialMate Trigger').item.json.data.timestamp }}"
        }
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Get AI Context",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('SocialMate Trigger').item.json.data.body }}",
        "options": {
          "systemMessage": "=You are Maya, a friendly and professional real-estate concierge for Skyline Realty, chatting with prospective buyers and renters on WhatsApp.\n\nYour goals, in order:\n1. Greet warmly and briefly.\n2. Understand the lead's need: buy or rent, preferred area/neighbourhood, budget range, number of bedrooms, and move-in timeline.\n3. Answer questions about listings, neighbourhoods, pricing and the buying/renting process clearly and honestly.\n4. Once you know intent + area + budget + bedrooms, offer to book a viewing or hand off to a human agent, and ask for their preferred day and time.\n\nStyle: warm, concise and WhatsApp-appropriate — short paragraphs, no walls of text, an occasional emoji is fine. Never invent specific listing addresses, prices or availability you don't actually have; instead say a human agent will confirm exact options. If asked something outside real estate, gently steer back. Always reply in the same language the lead writes in.\n\n--- Conversation history (oldest first, newest last) ---\n{{ $json.transcript }}\n--- End of history ---\n\nIn the history, lines prefixed 'Assistant:' are YOUR own past replies and lines prefixed with the lead's name are from the lead. The history does NOT include the lead's newest message — that is provided to you as the input to respond to now. Stay consistent with the history, don't re-ask what the lead already told you, and reply only to their newest message."
        }
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Real Estate Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [360, 540]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "accountId": "={{ $('SocialMate Trigger').item.json.data.accountId }}",
        "chatId": "={{ $('SocialMate Trigger').item.json.data.chatId }}",
        "text": "={{ $json.output }}",
        "sendOptions": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Reply on WhatsApp",
      "type": "n8n-nodes-socialmate.socialMate",
      "typeVersion": 1,
      "position": [780, 300]
    },
    {
      "parameters": {
        "content": "## Real Estate WhatsApp AI Concierge\n\n**Flow:** a lead messages your WhatsApp → **Get AI Context** pulls the whole conversation from the SocialMate DB (role-mapped, token-windowed) → DeepSeek agent answers with full memory → reply is sent back on WhatsApp.\n\nThe agent gets the entire thread as a transcript in its system message, so it never re-asks what the lead already said — no separate memory node needed.\n\n**Setup:**\n1. **SocialMate Trigger / Get AI Context / Reply** → create one **SocialMate API** credential (Server URL `http://127.0.0.1:3456` if n8n is on the same machine, or your named-tunnel hostname). Use an **admin**-scope key. *(Get AI Context + history are Pro features.)*\n2. **DeepSeek Chat Model** → add your **DeepSeek API** key.\n3. **Save & Activate**, then message the connected WhatsApp number to test — send two messages, then a follow-up that refers back, and watch it remember.",
        "height": 320,
        "width": 480
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "How to use",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, -80]
    }
  ],
  "connections": {
    "SocialMate Trigger": {
      "main": [[{ "node": "Get AI Context", "type": "main", "index": 0 }]]
    },
    "Get AI Context": {
      "main": [[{ "node": "Real Estate Agent", "type": "main", "index": 0 }]]
    },
    "Real Estate Agent": {
      "main": [[{ "node": "Reply on WhatsApp", "type": "main", "index": 0 }]]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [[{ "node": "Real Estate Agent", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
